* {
  box-sizing: border-box;
}

.nav-bar {
  overflow: hidden;
  background-color: darkgreen;
}

.nav-bar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.drop-down {
  float: left;
  overflow: hidden;
}

.drop-div {
  font-size: 22px;
  color: white;
  padding: 15px;
  margin: 0;
}

.nav-bar a:hover,
.drop-down:hover .drop-div {
  background-color: aqua;
  cursor: pointer;
}

.drop-contents {
  display: none;
  position: absolute;
  width: 150px;
}

.option {
  display: block;
  background-color: lightblue;
  color: white;
  padding: 10px;
}

.option:hover {
  background-color: gray;
  cursor: pointer;
}

.drop-down:hover .drop-contents {
  display: block;
}
